* {
    font-family: sans-serif;
}

main {
    background-color: lightgray;
    padding: .5rem;
    border-radius: .5rem;
    height: 25rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-tab {
    background-color: darkgray;
    display: inline-block;
    width: 30%;
    height: .5rem;
    border-radius: .5rem;
}

#tab-0 {
    background-color: gray;
}

.tap {

    border: 1px black solid;
    position: absolute;
    height: 25rem;
    width: 5rem;
}

.left-tap {
    left: 1rem;
}

.right-tap {
    right: 1rem;
}

footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer button {
    width: 4rem;
    height: 4rem;
}

.small-button {
    width: 2rem;
    height: 2rem;
}